
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/search_page.css">

    <script src="components/waves.js" defer></script>
    <script src="../js/search_page/search_results.js" defer></script>
    <script src="../js/search_page/main.js" defer></script>

    <title>Royal Research</title>
</head>

<body>
    <header>
        <div id="header-title">
            <img src="../assets/icons/logo.svg">
            <strong>Royal Research</strong>
        </div>
        <waves-component></waves-component>
    </header>
    <main>
        <div id="title-container">
            <h1>Encontre <p>Pequisadores</p> de Todo o Mundo em um sรณ Lugar</h1>
            <a>saiba mais</a>
        </div>
        <div id="search-container">
            <img class="icon" src="/assets/icons/search.svg">
            <input id="search-input" type="search" placeholder="Digite o nome de um pesquisador">
        </div>
        <div id="search-results-container" class="search hidden">

        </div>
    </main>
</body>
